body {
    background: #ccc;
}

header {
    background: #111;
    color: gold;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 25px;
}

ul {
    list-style-type: square;
}

li {
    margin-left: 10px;
}

footer {
    background: #efefef;
    color: #111;
    padding: 50px;
}
